<a href="https://colab.research.google.com/github/shilvi53/BigDataAnalysis/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
datafile={
    "tid":[1,2,3,4,5,6,7,8,9,10],
    "refund":["YES","NO","NO","YES","NO","NO","YES","NO","NO","NO"],
    "marital status":["single","married","single","married","divorced","married","divorced","single","married","single"],
    "taxable income":["125k","100k","70k","120k","95k","60k","220k","85k","75k","90k"],
    "cheat":["NO","NO","NO","NO","YES","NO","NO","YES","NO","YES"]
}
myvar=pd.DataFrame(datafile)
select=myvar.iloc[[0,4,7,8]]
print(select)

   tid refund marital status taxable income cheat
0    1    YES         single           125k    NO
4    5     NO       divorced            95k   YES
7    8     NO         single            85k   YES
8    9     NO        married            75k    NO